<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webserver>
  <handlers>
    <add name="JavaScriptHandler" path="*.js" verb="*" precondition="integratedMode"
         type="System.Web.StaticFileHandler" />

    <add name="HtmlScriptHandler" path="*.html" verb="*" precondition="integratedMode"
         type="System.Web.StaticFileHandler" />
  </handlers>
</system.webserver>

</configuration>